{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}

    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{book.author}}</p>
                    {% with formatted_date=book.pub_date|date:"d.m.Y" %}
                        <p>Дата публикации: <a href="/books/{{ formatted_date }}/">{{ formatted_date }}</a></p>
                    {% endwith %}
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if previous_pub_date %}
                <a href="/books/{{ previous_pub_date|date:'d.m.Y' }}/">&lt; {{ previous_pub_date|date:'d.m.Y' }}</a>
            {% endif %}

            {% if previous_pub_date and next_pub_date %}
                &nbsp;&nbsp;&nbsp;
            {% endif %}

            {% if next_pub_date %}
                <a href="/books/{{ next_pub_date|date:'d.m.Y' }}/">{{ next_pub_date|date:'d.m.Y' }} &gt;</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
